<div class="text-center mt-5">
  <h1 class="display-4">Chào mừng đến với Hệ thống Quản lý</h1>
  <p class="text-secondary fw-semibold fs-4 mt-4">
    Sử dụng thanh điều hướng để quản lý công ty và người dùng.
  </p>
  <img src="/images/logo.png" alt="Logo" class="mt-4" style="height: 120px" />
  <p class="text-secondary  mt-4">© 2025 - Thiết kế bởi ứng viên <strong>Trần Việt Anh</strong></p>
</div>
